h1{
    
    color: rgb(255, 0, 200);
    text-decoration: underline;
}
#p1{
color: rgb(203, 15, 216)
}
#p2{
    color: blueviolet;
}
#p3{
    color: blue;
}
#p4{
    color: aquamarine;
}
#p5{
    color: aqua;
}